# The Python Language Topics Guide

#### This file contains almost every topic which covers the python language, however basic operations & it's example are cover for every topic. A more operation in every topic can be detailed through its individual reference.|

## 1.)Print Statement

#### To print the specific message on screen or any device

In [1]:
print("Ayush: Hello Python")

Ayush: Hello Python

In [2]:
print("Python: Hello Ayush, how are you?")

Python: Hello Ayush, how are you?

In [3]:
print("Ayush: I am absolutely fine, will you walktrhough to each and every topics of your language ?")

Ayush: I am absolutely fine, will you walktrhough to each and every topics of your language ?

In [4]:
print("Python: Why not?, I am there for you. It will be long journey, Are you ready for it ?")

Python: Why not?, I am there for you. It will be long journey, Are you ready for it ?

In [5]:
print("Ayush: Yes! Absoultely")

Ayush: Yes! Absoultely

## 2.) Comment

#### To increase the code readability

In [6]:
#Hello Ayush, this is known as comment. Every time I can't take part in your code, but I will brief your every code through this.

#Thank you for being with me.

#Time to get started :-)

## 3.) Mathematical Calculation

#### To perform mathematical calculation like calculator using mathematical operator

In [7]:
#addition
8 + 12

20

In [8]:
#subtraction 
9595 - 255

9340

In [9]:
#multiplication
8*23

184

In [10]:
#division
58/23

2.5217391304347827

In [11]:
#absolute division
18//7

2

In [12]:
#exponent power
8**3

512

In [13]:
#divison remainder
2149%135

124

In [14]:
#basic calculation
(28*2)-(24/2)

44.0

In [15]:
#comparison operator --> it gives value in True or False

2 > 5

False

In [16]:
-25.2 < 1

True

In [17]:
#for checking equality

5 == 5

True

In [18]:
#for checking non equality

6 != 23

True

In [19]:
2 >= 2

True

### Assigning data to variable

In [20]:
#any of the number or string can be assign to variable

a = 25 #Value of a is 25
b = -14.2
c = "hello ayush"

In [21]:
print (a)

25

In [22]:
print(c)

hello ayush

In [23]:
#its data type can be know by type

type(b)

float

In [24]:
type(c)

str

In [25]:
type(a)

int

## 4.) Data Types

### *Numerical Data Types*

### **Integer**

#### Numbers without Decimals

In [26]:
#Number without decimal are integer

40
-60
7777778

7777778

In [27]:
#to know the data type 

a = 56615
type(a)

int

In [28]:
#integer calculation 

12**14

1283918464548864

In [29]:
a = -7
b = 39533

print(a+b)

39526

### **Float**

#### Numbers with decimals

In [30]:
#Eg.

2.0
861.9
-0.8

-0.8

In [31]:
a = 915.2
type(a)

float

In [32]:
#calculation with floats

88.1 - 12.33656

75.76343999999999

In [33]:
#calculation with float & Intger

a = 2
b = 3.5

print(a**b)

11.313708498984761

In [34]:
#to convert any data type into another --> ___dtype_name___()

int(25.125)

25

In [35]:
float(15)*2

30.0

In [36]:
float(18) + int(-13.23)

5.0

In [37]:
22353 // 335.25

66.0

### **Complex Numbers**

#### Numbers with imaginery number (j)

In [38]:
#Eg:

2j

2j

In [39]:
type (-8j+3)

complex

In [40]:
#calculation with complex numbers

(6j + 5) - (2j - 2)

(7+4j)

In [41]:
#mixing with the dtypes

complex(2) - int(25.321)

(-23+0j)

In [42]:
a = (-8j - 3) 
b = 21

print(a*b)

(-63-168j)

### **Binary data ypes**

In [43]:
#the numbers with value 0 or 1 are called binary
#to get binary digits of any numbers

bin(295)

'0b100100111'

### **Octal data types**

In [44]:
#the numbers with value 0 to 8 are called binary
#to get octal digits of any numbers

hex(6561)

'0x19a1'

### **Hexagonal data types**

In [45]:
#the numbers with value 0 to 8 are called binary
#to get octal digits of any numbers

oct(9196)

'0o21754'

### *To perform more mathematical operation using math library*

In [46]:
#import math library to perform more mathematical function

import math

In [47]:
#floor --> to find closest integer below the value
math.floor(28.3)

28

In [48]:
#ceil --> to find closest integer above the value
math.ceil(35.1)

36

In [49]:
#to get pi & e value

print(math.pi)
print(math.e)

3.141592653589793
2.718281828459045

In [50]:
#to get square root of the number

math.sqrt(2534)

50.33885179461288

In [51]:
#power of the number

math.pow(2, 5) #(number, power of that number)

32.0

In [52]:
#to get sum of the numbers 

sum((23, -12, -235)) #numbers for sum

-224

In [53]:
#to find max-min from the numbers

print(max((1, 4, 52.65, -12, -89))) #the numbers we want max-min
print(min((1, 4, 52, -12, -89)))

52.65
-89

### *To get some fun with numbers*

In [54]:
#to generate random numbers by import random library

import random

In [55]:
#to get any random number
random.random()

0.9352751746673991

In [56]:
#to get any random number between two integer

random.randint(2, 5) #the number between two numbers

5

### *String Data Types*

#### Words or numbers written in string format

In [57]:
#can be written in single quotes or double quotes " "

"Hello bro !"

'Hello bro !'

In [58]:
#number in string
'2'

'2'

In [59]:
#in single quotes
'50 shades of Grey'

'50 shades of Grey'

In [60]:
#to use both in the same, single quotes along with double quotes can be used

print("I am Python, Ayush's guide")

I am Python, Ayush's guide

In [61]:
myth = "Meaning 'of' the life"

In [62]:
myth

"Meaning 'of' the life"

#### String operations

In [63]:
#to find the length of string

len(myth)

21

In [64]:
str(243**32)

'21847450052839212624230656502990235142567050104912751880812823948662932355201'

In [65]:
#to find length of number using string
len(str(243**32))

77

In [66]:
#Multiline string --> It can be used with 3 Triple quotes

"""
Hey there ! This is multiline string used for writing the multiple sentence in the line
"""

'\nHey there ! This is multiline string used for writing the multiple sentence in the line\n'

In [67]:
#For sentence in new line --> use \n in the new line

print("I have have many libraries like \n Pandas \n Numpy \n Matplotlib, etc.")

I have have many libraries like
 Pandas
 Numpy
 Matplotlib, etc.

In [68]:
#to get the specific part of the code ---> slicing [start:stop:ilterator]

python = "I am very much love in Python"

python[2:35]

'am very much love in Python'

In [69]:
#reverse slicing 

python[:2:-1]

'nohtyP ni evol hcum yrev m'

In [70]:
#concatanating string

a = "hello"
b = " Ayush"

a+b

'hello Ayush'

In [71]:
a[2]

'l'

In [72]:
#printing multiple line

a*10

'hellohellohellohellohellohellohellohellohellohello'

In [73]:
a[:10]

'hello'

In [74]:
#to convert string into upper

a.upper()

'HELLO'

In [75]:
#to convert all string into lower

b.lower()

' ayush'

In [76]:
#to replace into string

a.replace("hello", "hey")

'hey'

In [77]:
#string formating -----> to insert value of any define value

a = 25 

b = print(f"Value of a is {a}") #string formating-1

Value of a is 25

In [78]:
b = print("Value of a is", a) #string formating - 2

Value of a is 25

In [79]:
b = print("Value of a is {}".format(a)) #string formating - 3

Value of a is 25

In [80]:
#to check wether that value exist in string or not

a = "It was a great adventure !"

b = "It" in a
b

True

### *Boolean Data Types*

#### "True" (or 1)  if comparison is correct else "False" (or 0) if comparison is false

In [81]:
#Eg. --> they are given as "bool"

a = True
b = False

In [82]:
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

In [83]:
#value of True & False

print(int(a))
print(int(b))

1
0

In [84]:
#usage of boolean

a > b

True

In [85]:
#To check or or and operator 

a or b

True

In [86]:
#checking with its own
True and False

False

In [87]:
#empty string are False, while non-empty string are True

print(bool(""))
print(bool([1, 53]))

False
True

### *Sets*

#### An unordered collection of unique & imutable objects

In [88]:
#sets are written in "{}".

{"Hello", "ayush", 14, 2.2}

{14, 2.2, 'Hello', 'ayush'}

In [89]:
#it can be define by assining variabl

a = set("ehl")

In [90]:
type(a)

set

In [91]:
a

{'e', 'h', 'l'}

In [92]:
#to add value in set

a.add("It is")

In [93]:
a

{'It is', 'e', 'h', 'l'}

In [94]:
#to delete any element in the set
a.remove("e")
a

{'It is', 'h', 'l'}

In [95]:
#to check if any set is subset of other

b = {"h", "l"}

print(b in a)

False

In [96]:
#to compare sets elements

a > b

True

In [97]:
#if same element is added set value doesn't change (as it is unique order)

x = {2, -253, True, False}
y = {2j - 19, "I", "am"}

In [98]:
x.add(2)

In [99]:
x #it doesn't change

{-253, False, True, 2}

### *Lists*

#### Flexible object collection of object
#### Can cotain any type of data

In [100]:
# They are define in "[]" brackets

a = [2, True, {1, 2, 3}]

In [101]:
type(a)

list

In [102]:
#it can contain set/list inside list 

b = [["Biryani", "Manchurian", "Idli"], ["Hyderabad", "Delhi"], {2, 5, 9}, 2j]

In [103]:
b

[['Biryani', 'Manchurian', 'Idli'], ['Hyderabad', 'Delhi'], {2, 5, 9}, 2j]

In [104]:
#to check length of list or number of items in list

len(b)

4

In [105]:
#to check elment/slice element of particular index 
b[0]

['Biryani', 'Manchurian', 'Idli']

In [106]:
b[2]

{2, 5, 9}

In [107]:
b[1:4]

[['Hyderabad', 'Delhi'], {2, 5, 9}, 2j]

In [108]:
#to get reverse order [Negative Slicing]

b[:-1]

[['Biryani', 'Manchurian', 'Idli'], ['Hyderabad', 'Delhi'], {2, 5, 9}]

In [109]:
b[-4:]

[['Biryani', 'Manchurian', 'Idli'], ['Hyderabad', 'Delhi'], {2, 5, 9}, 2j]

In [110]:
b[::-1]

[2j, {2, 5, 9}, ['Hyderabad', 'Delhi'], ['Biryani', 'Manchurian', 'Idli']]

In [111]:
#2 or more list can be added together

c = a + b
c

[2,
 True,
 {1, 2, 3},
 ['Biryani', 'Manchurian', 'Idli'],
 ['Hyderabad', 'Delhi'],
 {2, 5, 9},
 2j]

In [112]:
#to get repetative number of elemnts

c*2

[2,
 True,
 {1, 2, 3},
 ['Biryani', 'Manchurian', 'Idli'],
 ['Hyderabad', 'Delhi'],
 {2, 5, 9},
 2j,
 2,
 True,
 {1, 2, 3},
 ['Biryani', 'Manchurian', 'Idli'],
 ['Hyderabad', 'Delhi'],
 {2, 5, 9},
 2j]

In [113]:
#to add element in the list 

a.append(["Telangana", "Gujarat"])
a

[2, True, {1, 2, 3}, ['Telangana', 'Gujarat']]

In [114]:
#to remove specific element from the list

a.remove(2)
a

[True, {1, 2, 3}, ['Telangana', 'Gujarat']]

In [115]:
#to remove last elemnt from the list

a.pop()

['Telangana', 'Gujarat']

In [116]:
#to create a copy of list for any further use

x = a.copy()

In [117]:
x

[True, {1, 2, 3}]

In [118]:
#to edit the particular index

a[1] = "Movies"
a

[True, 'Movies']

In [119]:
#to reversed the element in the list

a.reverse()
a

['Movies', True]

### **Dictionaries**

#### Ordered collection refer through its key and its value pair

In [120]:
# they are assign in {} with the its key & value pair
#empty set are also the dictionary 

a = {}

In [121]:
type(a)

dict

In [122]:
#defining dictonaries 

dir1 = {"Books": "Comics", "Movies" : "Romantic"}

In [123]:
#it can have list inside list, number variable, dictonaries inside dictonaries etc.

dir2 = {"Books":["Mahabharat", "Gita", "Ramayan"], "Years":[15, 30, 20], "Publisher":[True, False, True]}

In [124]:
print(dir2)

{'Books': ['Mahabharat', 'Gita', 'Ramayan'], 'Years': [15, 30, 20], 'Publisher': [True, False, True]}

In [125]:
#to get its value pair in dict --> it is defined by the asking its key, order doesn't matter 
dir2["Publisher"]

[True, False, True]

In [126]:
#to find the number of elements in the dict
len(dir2)

3

In [127]:
#to edit the element

dir2["Publisher"] = [True, False, False]

In [128]:
dir2

{'Books': ['Mahabharat', 'Gita', 'Ramayan'],
 'Years': [15, 30, 20],
 'Publisher': [True, False, False]}

In [129]:
#to add any element in the dict

dir2["Writer"] = {"Old" : {"shiva", "rani"}, "New" : {"pari", "rehan"}}

In [130]:
print(dir2)

{'Books': ['Mahabharat', 'Gita', 'Ramayan'], 'Years': [15, 30, 20], 'Publisher': [True, False, False], 'Writer': {'Old': {'shiva', 'rani'}, 'New': {'rehan', 'pari'}}}

#### *Dictionaries Method*

In [131]:
#to get the value of any pair

dir2["Writer"]

{'Old': {'rani', 'shiva'}, 'New': {'pari', 'rehan'}}

In [132]:
#if we want items 

dir2.items()

dict_items([('Books', ['Mahabharat', 'Gita', 'Ramayan']), ('Years', [15, 30, 20]), ('Publisher', [True, False, False]), ('Writer', {'Old': {'shiva', 'rani'}, 'New': {'rehan', 'pari'}})])

In [133]:
#if we want keys

dir2.keys()

dict_keys(['Books', 'Years', 'Publisher', 'Writer'])

In [134]:
#to nest list inside dict

dir2["New"] = (1, 2, 3)

In [135]:
dir2

{'Books': ['Mahabharat', 'Gita', 'Ramayan'],
 'Years': [15, 30, 20],
 'Publisher': [True, False, False],
 'Writer': {'Old': {'rani', 'shiva'}, 'New': {'pari', 'rehan'}},
 'New': (1, 2, 3)}

In [136]:
#to get item in list/ or slice the element

dir2["Writer"]["Old"]

{'rani', 'shiva'}

### **Tuples**

#### simple collection of objects

In [137]:
#they are assign by () 
#an empty tuple is given by ()

t = ()

In [138]:
type(t)

tuple

In [139]:
t1 = ("Hello", "I", {"am", 2}, ("Tuple"), {"Dict":1}, ["Set"])

In [140]:
type(t1)

tuple

In [141]:
#to check length of tuple --? To check no. of elements
len(t1)

6

#### Tuples are immutable ---> It can't be edited

##### Tuple operations

In [142]:
#add two tuples

a1 = (1, 5)
a2 = (2, 6)

a = a1 + a2
print(a)

(1, 5, 2, 6)

In [143]:
#to repeat elements 

a3 = a1*8
a3

(1, 5, 1, 5, 1, 5, 1, 5, 1, 5, 1, 5, 1, 5, 1, 5)

In [144]:
#slicing tuple ---> to know the element at position 
a3[9]

5

In [145]:
#to convert any data type into different type

a1 = ("Ayush", "My", {"Age" : 22})
a2 = ["Python", "Machine Learning", "Deep Learning"]
a3 = {"Web Scrapping", 45}
a4 = {"Topics": ["ML", "DL"], "Python":["Dict", "Tuple", "List"]}

In [146]:
print(type(a1))
print(type(a2))
print(type(a3))
print(type(a4))

<class 'tuple'>
<class 'list'>
<class 'set'>
<class 'dict'>

In [147]:
a5 = tuple(a2)
print(a5)

('Python', 'Machine Learning', 'Deep Learning')

In [148]:
a6 = set(a2)
print(a6)

{'Deep Learning', 'Python', 'Machine Learning'}

## 5.) Files openings & reading

#### To open/ read / edit any types of files

### Type of file opening:-

##### "w" ------> write 
##### "r" -------> read
##### "a" -------> to rewrite/ edit/ append

In [149]:
#to open any file from foloder in write mode
a_test = open("text.txt", "w")

In [150]:
a_test

In [151]:
#to write in any files
a_test.write("I am learning Python") #it gives number of string length written

20

In [152]:
#to close that file
a_test.close()

In [153]:
#to rewrite or edit file mode
b = open("text.txt", "a")
b.write(" I am learning File opening in the python, There are still many things to learn")

79

In [154]:
b.close()

In [155]:
#to read the file

c = open("text.txt", "r")

In [156]:
#to read content
c.read()

'I am learning Python I am learning File opening in the python, There are still many things to learn'

In [157]:
#to readline the content of the file ---> emnty string od file
c.readline()

''

In [158]:
c.close()

## 6.) Python Statements

### Conditional Statements

#### if ------> Executes if statement is True
#### elif -------> Executes if statment is true &  if "if" & above "elif" statements are false
#### else -----> Executes if all "if" & "elifs" statement are false

In [159]:
#if statement 

x = 8

if x == 8:
    print("You are correct")

You are correct

In [160]:
if not 1:
    print("True")
else:
    print("False")

False

In [161]:
#else statement

name = "hemil"

if name == "ayush":
    print ("You have find right person !")
else:
    print("you have search wrong person")

you have search wrong person

In [162]:
#elif statement

lan = "I am learning Python"

if "C++" in lan:
    print("Please confirm once again")
elif "c#" in lan:
    print("still confirm once again")
elif "Python" in lan: #it will work as Python is there in lan
    print("Now you can be sure")
else:
    print("You start learing python")

Now you can be sure

In [163]:
#combining & using the statments

fun = {"hello" : 12, "ayush" : 23, "gandhi" :-1.4}
name = "ayush"

if name == "hello":
    print(name*2)
elif name == "ayush":
    print(name*3)
elif name == "gandhi":
    print(name*4)
else:
    print("It is not present, you have to add")

ayushayushayush

 ### Looping Statements

#### for loop ----> it iterate every element in given condition
#### while loop ----> loop will it iterate until condition becomes false

In [164]:
#for loop

x = [2, "Hello", True, -15.23, 8j-2]

for i in x:
    print(i)

2
Hello
True
-15.23
(-2+8j)

In [165]:
#example

name = "Ayush Gandhi"

for i in name:
    print(i)

A
y
u
s
h

G
a
n
d
h
i

In [166]:
#range function ---> it iterate every number in given range, --> it is given by [start:stop:iterate]

r1 = range(0, 10)
print(list(r1))

for i in r1:
    print(i)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
0
1
2
3
4
5
6
7
8
9

In [167]:
r2 = range(-20, 20, 5)

for i in r2:
    print(i)

-20
-15
-10
-5
0
5
10
15

In [168]:
d = {"City" : ["DEL", "MUM", "HYD"], "Item" : ["Chole", "Vadapav", "Dosa"]}

for i in d.keys():
    print(i)

City
Item

In [169]:
#while loop ---> iterate should be given until what condition it should run --> start point & iteration should be given

i = 0
while i < 10:
    print("Yes, I am reading")
    i = i + 1

Yes, I am reading
Yes, I am reading
Yes, I am reading
Yes, I am reading
Yes, I am reading
Yes, I am reading
Yes, I am reading
Yes, I am reading
Yes, I am reading
Yes, I am reading

In [170]:
a = 10
b = 35

while a < b:
    print(a)
    a = a + 3

10
13
16
19
22
25
28
31
34

### Looping operation statements

#### break ---> Break out of current loop 
#### continue ---> Jump to top of enclosed loop
#### pass ---> Does nothing, just pass statement

In [171]:
#break 

for i in range(0, 20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [172]:
#continue 

x = 10
while x:
    x = x-1
    if x % 2 != 0:
        continue
    print(x)

8
6
4
2
0

In [173]:
#pass

while False:
    print("I am studying Pass statement")
    pass

In [174]:
#looping/ Nesting with else
x = 40
y = 2
while x > 1:
    if y % x == 0:
        print(f"{y} is factor of {x}")
        break
    x -= 1
else:
    print(f"{y} is prime")

2 is factor of 2

### Map & Zip function (similar to for loop)

#### zip -----> It zip/ stores the data when executed & can be viwed by list of zip
#### map -----> It maps out indiviudal elements in the list or dict

In [175]:
#zip function

z1 = [[1, 5, 9], {1, 2, 5}, (90, 14, 20)]
z2 = [(1, 4, 9), [81, 16, 20]]

zip(z1, z2)

In [176]:
list(zip(z1, z2))

[([1, 5, 9], (1, 4, 9)), ({1, 2, 5}, [81, 16, 20])]

In [177]:
#map function

m = ["Python", "Machine Learning", "Data Science"]
list(map(list, m))

[['P', 'y', 't', 'h', 'o', 'n'],
 ['M',
  'a',
  'c',
  'h',
  'i',
  'n',
  'e',
  ' ',
  'L',
  'e',
  'a',
  'r',
  'n',
  'i',
  'n',
  'g'],
 ['D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e']]

## Iterators & Generators

In [178]:
la = enumerate("Linkedin")

In [179]:
next(la) #it gives its index position with wlement

(0, 'L')

In [180]:
next(la)

(1, 'i')

In [181]:
next(la)

(2, 'n')

In [182]:
next(la)

(3, 'k')

In [183]:
#itering the obejects --> similar to enumerate function

L = [100, -50, 400]
i = iter(L)

In [184]:
#iter for 1st time --> 1st element
i.__next__()

100

In [185]:
#iter for the 2nd time --> 2nd element
i.__next__()

-50

In [186]:
#iter for the 3rd time--> 3rd element
i.__next__()

400

In [187]:
#eg
r = range(-100, 0, 20)

In [188]:
i = iter(r)

In [189]:
next(i)

-100

In [190]:
next(i)

-80

In [191]:
next(i)

-60

In [192]:
next(i)

-40

In [193]:
next(i)

-20

#### List Comprehension Methods

##### It can be used to apply function in list

In [194]:
L = [1, 2, 3, 4, 5]

In [195]:
L = [x*10 for x in L]

In [196]:
L

[10, 20, 30, 40, 50]

In [197]:
# to append the elment in the list

res = []
for x in L:
    res.append(x*10)

In [198]:
res

[100, 200, 300, 400, 500]

## 7.) Functions

### Use for reusability of same code

In [199]:
#function can be define by def ---> defining function name with returning the value of function

def add(a, b):
    return a + b

In [200]:
#calling the function
add(10, 253)

263

In [201]:
add(-15, 100)

85

In [202]:
add(-19.2, 10j+2)

(-17.2+10j)

In [203]:
add(True, False)

1

In [204]:
def my_name():
    return "My name is Ayush"

In [205]:
#calling the function
my_name()

'My name is Ayush'

In [206]:
def odd_even(a):
    if a %2 == 0:
        print("even")
    else:
        print("odd")

In [207]:
odd_even(299)

odd

In [208]:
#all type of looping & conditional statement can be enclosed inside function. Eg. appending list

def use(a):
    l = [] #empty list
    for i in a:
        if type(i) == list:
            for j in i:
                l.append(j)
    else:
        if type(i) == int or type(i) == float:
            l.append(i)
    return l

In [209]:
k = ["Ayush", 2j-1, False, 19.15, (1, 2, 5), ["List", "Tuple", "Set"]]

In [210]:
#it will return the lists in the elements
use(k)

['List', 'Tuple', 'Set']

### Scopes 

#### Global - if initiated with function with global its value becomes global for that variable
#### Local - if initated within function with global its, its value is temporary assign within the variables

In [211]:
#global scope

def glo():
    global var
    var += 1

In [212]:
#local 

def loc():
    var = 0

In [213]:
#Nested inside function

x = 99

def f1():
    x = 88
    def f2():
        print(x)
    f2()
f1() #f1() is called --> it will print 88

88

### Argumentation in function

#### name  -----> normal argument matches any pass value by position 
####  name = value ----> take default value, if not pass during cell
#### *name ----> matches & collects given arguments in tuple (arguments)
#### **name ----> matches & collects given arguments in dictonary (keywords arguments)

In [214]:
def name(a, b, c):
    return ((a*b)/c)

In [215]:
#name argument ---> give all parameters in given function

name(15, 51, 2)

382.5

In [216]:
#value whichever is define remains optional during calling functional
def value(a, c, b= 6):
    return ((a*b)/c)

In [217]:
#"b" is define it will, by deafult it will take b as 6

value(1, 5)

1.2

In [218]:
#Arguments in function ---> return all argument in define in the function
def arg(*args):
    return args

In [219]:
arg(1, 5, 52, 53)

(1, 5, 52, 53)

In [220]:
#Keywords arguments ----> return all argument with keyword define in the function

def keyarg(**kwargs):
    return kwargs

In [221]:
keyarg(a=1, b=53)

{'a': 1, 'b': 53}

In [222]:
#combining the elements, order is define by -->  name, name with value, arguments, keywords arguments

def alll(a, *args, **kwargs):
    return (a, args, kwargs)

In [223]:
#define 1st elements a, other elements as args, and after define elements as kwargs
alll(2, 28, 50, 203, b = -5, c = 1.1)

(2, (28, 50, 203), {'b': -5, 'c': 1.1})

### Functions using Lambada

#### Function can be define using lambda --> similar while defining function

In [224]:
#defining function using lambda
fun = lambda x, y, z : x + y + z

In [225]:
fun(2, 4, 10)

16

In [226]:
fun("ayush", " is", " nice")

'ayush is nice'

In [227]:
eg = lambda a, b = 5 : (a/b)/b

In [228]:
eg(25)

1.0

### List comprehension Methods

In [229]:
#appending in the list

res = []
for i in "ayush":
    res.append(ord(i)) #ord is ASCII code of all letter
#it will append with code number of letter "Ayush"

In [230]:
res

[97, 121, 117, 115, 104]

In [231]:
#to create using for

[x**2 for x in range(0, 10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [232]:
#adding nested & loops 
[x for x in range (-5, 0) if x % 2 == 0 ]

[-4, -2]

In [233]:
#nested
res = [x + y for x in [0, 1, 2] for y in [100, 200, 300]]
res

[100, 200, 300, 101, 201, 301, 102, 202, 302]

In [234]:
[x + y for x in 'fun' for y in 'FUN']

['fF', 'fU', 'fN', 'uF', 'uU', 'uN', 'nF', 'nU', 'nN']

### Generator Function

#### Use to store the function & can be yield when required

In [235]:
#generator function 

def gensquares(n):
    for i in range(n):
        yield i ** 2

In [236]:
gensquares(4)

In [237]:
list(gensquares(4))

[0, 1, 4, 9]

In [238]:
def both(N):
    yield from range(N)
    yield from (x ** 3 for x in range(N))

In [239]:
list(both(4))

[0, 1, 2, 3, 0, 1, 8, 27]

## 8.) Modules & Packages

#### import ----> let to fetch module as whole
#### from ----> allows to fetch particular name from module

### Module - Combination of numerous functions & global variable (Can be created)
### Package - Modified by user interpreted code

In [240]:
#if any module save in the local file it can be imported using the import (it can be saved in the form of .py file)
#all function in written in the file can be imported 

import ayush 

#file name ayush have been saved in python

In [241]:
#ayush has various function define & it can be used as package, It can be called by module.function
ayush.add(2, 5)

7

In [242]:
ayush.sub(-1, -6)

5

In [243]:
ayush.mul(10, 35)

350

In [244]:
ayush.div(25, 10)

2.5

In [245]:
#some in built module like math, os, etc. can be used for calculating math, knowing current time etc.

import math
math.sqrt(189) #to find the square root of the number

13.74772708486752

In [246]:
#for finding current date
from datetime import date

today = date.today()
print("Today's date:", today)

Today's date: 2023-03-18

In [247]:
#Module Packages consist of submodules which consist of various type of sub-modules & functions also called as library
#For Data Science the packages are imported like numpy, pandas, matplotlib etc.

import numpy as np
import pandas as pd
import matplotlib as mt

## 9.) Classes & OOP (Object Oriented Programming)

### Class - Use for creating the object
### Object Oriented Programming - Properties & Behaviours are bundled into objects

In [248]:
#class - created by keyword class 
#object - created by constructor of class

class first_class():
    pass

In [249]:
#let call class 

ex = first_class()

In [250]:
print(type(ex))

<class '__main__.first_class'>

In [251]:
#creating class

class talent:
    
    def cricket():
        return ("You love cricket")

In [252]:
#to call object

talent.cricket()

'You love cricket'

### Class Parameters

#### __init__ ----> constructor, for creating instance for class
#### self ----> can be automatically passed as first parameter, to define the class

In [253]:
class sports:
    
    def __init__ (self, height, weight, game):
        self.height = height
        self.weight = weight
        self.game = game
        
    def details (self):
        return self.height, self.weight, self.game

In [254]:
Ayush = sports(170, 65, "Cricket")

In [255]:
Ayush.weight

65

In [256]:
Ayush.details()

(170, 65, 'Cricket')

In [257]:
Hemil = sports(150, 50, "Tennis")

In [258]:
Hemil.game

'Tennis'

In [259]:
Hemil.details()

(150, 50, 'Tennis')

### Inheritance 

#### OOP that allows class to inherit properties & behavior from another class

In [265]:
class p1:
    def t1(self):
        return "p1"

In [266]:
class p2:
    def t2(self):
        return "p2"

In [267]:
class p3:
    def t3(self):
        return "p3"

In [277]:
#single inheritance --> Inheriting property of single Parent class

class c1(p1):
    pass

In [269]:
diya = c1()

In [270]:
#it has heritated properties of class p1
diya.t1()

'p1'

In [276]:
#multiple inheritance --> Inheriting properties of multiple Parent class

class c2(p2, p3):
    pass

In [273]:
#it will heritage properties of two classes p2 & p3

riya = c2()

In [275]:
print(riya.t2())
print(riya.t3())

p2
p3

In [278]:
#multilevel inheritance --> Inheriting properties of parent class, again inheriting properties of that class and so on 

class x1:
    def a1(self):
        return "x1 class"
    
class x2(x1):
    def a2(self):
        return "x2 class"

class x3(x2):
    def a3(self):
        return "x3 class"

In [279]:
Risa = x3()

In [280]:
#Calling objects

Risa.a1()

'x1 class'

In [281]:
Risa.a2()

'x2 class'

In [282]:
Risa.a3()

'x3 class'

In [287]:
#Hybrid Inheritance --> Inheriting some properties from child class, some from parent class etc 

class new(x3, p3):
    pass

In [288]:
Miya = new()

In [289]:
#It has inheritate properties some child class & some parent class inheritated during calling the function

Miya.a3()

'x3 class'

In [291]:
Miya.t3()

'p3'

### Polymorphism

#### Allowing objects of different class to be treated as same one

In [323]:
class python:
    def lan(self) :
        print("This is python")

In [328]:
class julia:
    def lan(self) :
        print("This is julia")

In [329]:
#polymorphysim 
def class_por(class_obj):
    for i in class_obj:
        i.lan()

In [331]:
python = python

In [332]:
julia = julia

In [335]:
class_obj = [python, julia]

### Encapsulation 

#### Bundling of data and methods that manipulate that data into single

In [344]:
class movie:
    def __init__(self, year, actor, movie, songs):
        self.__year = year
        self.__actor = actor
        self.__movie = movie
        self.__songs = 4

In [347]:
r = movie(2022,"NTR","RRR",5)

In [348]:
r._movie__year

2022

#### Class Methods

#### Getter ---> Returns the current value of a private instance 
#### Setter ---> Sets a new value for private instance.

In [351]:
class bank:
    def __init__(self, balance) :
        self.__balance = balance
        
    def deposit(self, amount) :
        self.__balance = self.__balance + amount
        
    def withdraw(self, amount) :
        if self.__balance >= amount :
            self.__balance = self.__balance - amount
            return True
        else :
            return False
        
    def get_balance(self):
        return self.__balance

In [352]:
Das = bank(400000)

In [354]:
Das.get_balance()

400000

In [355]:
Das.withdraw(10000)

True

In [356]:
Das.get_balance()

390000

In [357]:
Das.deposit(5000)

In [358]:
Das.get_balance()

395000

### Method Overloading 
#### Calling same method in different ways

In [376]:
def product(a, b):
    p = a * b
    print(p)

def product(a, b, c):
    p = a * b*c
    print(p)

In [377]:
product(4, 5, 5)

100

### Method Overriding
#### If child class uses same function of parent class, it will take function of child class

In [371]:
class Parent():
      
    # Constructor
    def __init__(self):
        self.value = "Inside Parent"
          
    # Parent's show method
    def show(self):
        print(self.value)

In [372]:
# Defining child class
class Child(Parent):
      
    # Constructor
    def __init__(self):
        self.value = "Inside Child"
          
    # Child's show method
    def show(self):
        print(self.value)

In [373]:
obj1 = Parent()
obj2 = Child()

In [374]:
obj1.show()
obj2.show()

Inside Parent
Inside Child

## 10) Exceptional Handling
#### to handle the errors which raises expection during program

In [385]:
#some program gives error

numerator = 59
denominator = 0

result = numerator/denominator
print(result)

ZeroDivisionError: division by zero

In [386]:
#to conquer error exceptional handling is use, which try to execute the program, if error arrises except block will be execute

try:
    numerator = 59
    denominator = 0

    result = numerator/denominator

    print(result)
except:
    print("Error: Denominator cannot be 0.")

Error: Denominator cannot be 0.

In [389]:
#Error can also be raise 
try:
    raise IndexError 
except IndexError:
    print('got exception')

got exception

In [390]:
#user define exception 
class AlreadyGotOne(Exception):
    pass

In [391]:
def grail():
    raise AlreadyGotOne() # Raise an instance
try:
    grail()
except AlreadyGotOne: # Catch class name
    print('got exception')

got exception

In [392]:
#finally can be added to the handling if function is need to be executed if everything failed
try:
    k = 5//0 
    print(k)

except ZeroDivisionError:
    print("Can't divide by zero")
    
finally:
    # this block is always executed
    # regardless of exception generation.
    print('This is always executed')

Can't divide by zero
This is always executed

## 11.) Decorators

#### Add new functionality to an existing object without modifying its structure

In [397]:
def hello(func):
    def inner1(*args, **kwargs):
         
        print("before Execution")

        returned_value = func(*args, **kwargs)
        print("after Execution")

        return returned_value
         
    return inner1

In [398]:
#adding functionally to function with decorator
@hello
def sum_two_numbers(a, b):
    print("Inside the function")
    return a + b

In [399]:
#same functionality has been added to function of hello
a = 10
b = -100
print("Sum =", sum_two_numbers(a, b))

before Execution
Inside the function
after Execution
Sum = -90

### Static method in class

#### Function decorator added in class

In [400]:
class student:
    def details(self, name, id_):
        print(name, id_)

In [401]:
class teacher:
    
    def details(self, name, id_):
        print(name, id_)
    
    @staticmethod
    def mentor(new):
        print(new)
    def mentor2(self, new2):
        print(new2)

In [403]:
teacher.mentor(["Jigya", "Navya"])

['Jigya', 'Navya']

## 12.) Logging 

### Module to write message to write message to file happening to the code

### Level of log:

#### 1.) NOTSET (Score = 0)
#### 2.) DEBUG (Score = 10)
#### 3.) INFO (Score = 20)
#### 4.) WARNING (Score = 30)
#### 5.) ERROR (Score = 40)
#### 6.) CRITICAL (Score = 50)

In [404]:
#importing logging module 
import logging

In [405]:
#creating logging configure 
logging.basicConfig(filename="newfile.log", format='%(asctime)s %(message)s', filemode='w')

In [406]:
#creating object & setting the logger to threshold 
logger = logging.getLogger()
logger.setLevel(logging.DEBUG) #setting level to debug

## User Inputs

### input method provide input from user

In [408]:
#input from the user

python = input("That's the end of topics Ayush, How was my teaching ayush?")

That's the end of topics Ayush, How was my teaching ayush? It was absolutely nice python, Thank you for walking through all the topics

In [409]:
#by default it is string it need to be converted into int or float to provide input in number

ayush = int(input("So how many different topics we learn? "))

So how many different topics we learn? 12

In [411]:
python = input("By combining all the differnt things you can design full python module or code with it, Thanks for being with me!")

By combining all the differnt things you can design full python module or code with it, Thanks for being with me!Thank you python !!

##  -------------------------------------------------The end-----------------------------------------------------------------